link(rel= 'stylesheet', href = 'css/NavbarFooter.css')
nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href='#').text-white SMOL
  ul.navbar-nav.font-weight-bold.mr-5
    li.nav-item.mr-2
      a.nav-link(href='#').text-white 홈
    li.nav-item.dropdown
      a#navbarDropdown.nav-link.dropdown-toggle.text-white(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | 콘텐츠게시판
      .dropdown-menu(aria-labelledby='navbarDropdown')
        a.dropdown-item(href='#') 실시간 이슈
        a.dropdown-item(href='#') Top 100 게시판
        a.dropdown-item(href='/feedboard') 피드게시판
    li.nav-item.mr-2
      a.nav-link(href='/mypage').text-white 마이페이지
  form.form-inline.my-2.my-lg-0.mr-auto.ml-5
    input.form-control.mr-sm-2.contents-search(type='search', placeholder='Search', aria-label='Search')
    button.btn.btn-light.my-2.my-sm-0.btn-sm.align-middle(type='submit') 컨텐츠 검색
  
  if user
    .small-profile.d-flex.align-items-center
      img.img-fluid.rounded-circle.mini-profile-img.mr-2(src = '/image/default-person.png')
      span.userId.font-weight-bold.text-white.mr-3 #{user.email}
    .logout
      a.logout-link.font-weight-bold.text-white(href= '/logout') 로그아웃
  else
    .login-signin.pull-right
      ul.navbar-nav.font-weight-bold
        li.nav-item
          a.nav-link.login-link.text-white(href='/loginPage.html') 로그인 / 회원가입
