.card-editor {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 252px;
  height: 448px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.watermark {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 20;
  pointer-events: none;
  color: lightgrey;
  bottom: 5px;
  right: 5px;
}

.card-editor .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  z-index: 30;
  cursor: pointer;
  opacity: .05;
  cursor: pointer;
}
.part{
  border : 0.1px solid lightgray;
}
.part.imgpart{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part:hover #close {
opacity: 1;
}

[contenteditable=true]:empty:before {
content: attr(placeholder);
color:grey;
font-style: italic;
display: block; /* For Firefox */
font-size : 11pt;
}
